[theme="dark"] {
    --transparency: blur(4px);

    --application-text: #999;
    --application-highlight-text: #fff;
    --application-input-text: #fff;
    --application-error-text: #e30505;
    --application-background: #141414;
    --application-highlight: #feb400;
    --application-accent: #e3954b;
    --application-dark: #252525;
    --application-drawer: #1414149d;
    --application-input: #262626;
    --application-input-accent: #444;
    --application-border: #252525;

    --button: #1a1a1a;
    --button-text: #fff;
    --button-border: #1a1a1a;
    --button-primary: #feb400;
    --button-primary-text: #fff;
    --button-primary-border: #feb400;
    --button-light: #fff;
    --button-light-text: #777;
    --button-light-border: #e5e5e5;

    --modal-text: #515151;
    --modal-input-text: #000;
    --modal-error-text: #a11;
    --modal-background: #ffffffe0;
    --modal-dark: #f1f1f1;
    --modal-mobile: #ffffff;
    --modal-mask: #14141400;
    --modal-highlight: #feb400;
    --modal-input: #ffffff9f;
    --modal-input-accent: #fcfcfc;
    --modal-border: #e5e5e5;

    --menu-text: #b4b4b4;
    --menu-highlight-text: #fff;
    --menu-background: #2727279d;
    --menu-highlight: #4949499d;
    --menu-border: #303030;

    --navigation-text: #999;
    --navigation-highlight-text: #fff;
    --navigation-active-text: #feb400;
    --navigation-background: #141414;
    --navigation-highlight: #feb400;
    --navigation-border: #4b4b4b;

    --backdrop: url('/defaults/backdrops/default.jpg');

    --elevation: 0 1px 1px 0 rgba(0, 0, 0, 0.24),
                 0 2px 1px -1px rgba(0, 0, 0, 0.22),
                 0 1px 3px 1px rgba(0, 0, 0, 0.3);

    --elevation-button: 0 1px 1px 0 rgba(0, 0, 0, 0.24),
                        0 2px 1px -1px rgba(0, 0, 0, 0.22),
                        0 1px 3px 1px rgba(0, 0, 0, 0.3);
}
